<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<div class="container">
  <div class="row">
    <h3>Pokemon</h3>
          <% if @trainer == current_trainer %>
            <% @pokemons.each do |pokemon| %>
              <h4><%= pokemon.name %></h4> Level: <%= pokemon.level1 %>
              <% end %>
          <% else %>
            <% @pokemons.each do |pokemon| %>
              <% if pokemon.health > 0 %>
               <h4><%= pokemon.name %></h4> Level: <%= pokemon.level1 %>
              <% end %>
            <% end %>
          <% end %>
  </div>
</div>
